<%= render 'shared/navbar' %>
<div class="container">
  <section>
  </section>
  <section>
    <div class="all-memories">
      <h2>Your Memories</h2>
        <div class="thumbnail-picture" style="background-image: url('/assets/meadow.jpeg')" id="example-tn">
        </div>
        <p class="thumbnail-header">e.g. Ireland 2013</p>
      </div>
    </section>

    <!--Memories-->
    <section>
      <div class="thumbnail-section">
        <% @memories.each do |memory| %>
        <div class="col-md-2 col-xs-6 col-sm-4">
        <div class="thumbnail-object">
          <div class="thumbnail-picture" style="background-image: url('<%= memory.photo? ? cl_image_path(memory.photo.path) : '/assets/meadow.jpeg' %>')"></div>
          <p class="thumbnail-header">
            <%= memory.header %>
          </p>
        </div>
        </div>
        <% end %>
      </div>
    </section>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="memoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Add a Memory</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for [@memory] do |f| %>
          <%= f.input :header, placeholder: 'Austria 2015' %>
        </div>
        <div class="modal-footer">
         <%= f.submit 'Save', class: 'main-button' %>
         <% end %>
       </div>
     </div>
   </div>
 </div>

